{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
{{ form_start(form) }}
    <div class="form-group" style="user-select: auto;"> 
        {{ form_row(form.username, {'label':'Nom et prénom', 'attr':{'placeholder':'Michel DUPONT'}}) }} 
    </div>
    <div class="form-group" style="user-select: auto;"> 
        {{ form_row(form.login, {'attr':{'placeholder':'michel-dupont'}}) }} 
    </div>
    <div class="form-group" style="user-select: auto;"> 
        {{ form_row(form.adresse, {'attr':{'placeholder':'18 Rue de l\'église 87000 LIMOGES'}}) }} 
    </div>
    <div class="form-group" style="user-select: auto;"> 
        <label class="btn btn-info active" style="user-select: auto;">
            {{ form_row(form.isComptable) }} 
        </label>
    <div class="form-group" style="user-select: auto;"> 
    
    <button type="submit" class="btn btn-primary">Modifier</button>
{{ form_end(form) }} 
</div>

{% endblock %}