{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
{{ form_start(form) }}
    <div class="form-group" style="user-select: auto;"> 
        {{ form_row(form.username) }} 
    </div>
    <div class="form-group" style="user-select: auto;"> 
        {{ form_row(form.login) }} 
    </div>
    <div class="form-group" style="user-select: auto;"> 
        {{ form_row(form.password) }} 
    </div>
    <div class="form-group" style="user-select: auto;"> 
        {{ form_row(form.confirm_password) }} 
    </div>
    <div class="form-group" style="user-select: auto;"> 
        {{ form_row(form.adresse) }} 
    </div>
    <div class="form-group" style="user-select: auto;"> 
        {{ form_row(form.isComptable) }} 
    </div>
    
    <button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end(form) }} 
</div>

{% endblock %}